<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDb_YrBFQy8u2EDsatl1LEY39BqytXtar0</string>
	<key>GCM_SENDER_ID</key>
	<string>214026565751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leanwareAssessment</string>
	<key>PROJECT_ID</key>
	<string>leanware-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>leanware-assessment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214026565751:ios:e013703a1136aada20ee72</string>
</dict>
</plist>